<html>
    <head>
        <title>Quation</title>
    </head>
    <body>
    <h1>show</h1>
    <table id="id_list_table" border=1>
             {% for question in questions %}
                 <tr>
                 <td>{{ question.date }}</td>
                 <td>{{ question.q }}</td>
                 <td>
                  <FORM method="POST">
                     <INPUT Type="submit" VALUE="question" id="button_q" >      
                     <INPUT Type = "hidden" value ="q" name = 'q'>
                     <INPUT Type = "hidden" value ="{{ question.id }}" name = 'id_question'>
                     {% csrf_token %}
                 </FORM>
                 </td>
                 <td>
                  <FORM method="POST">
                     <INPUT Type="submit" VALUE="answer" id="button_a" >      
                     <INPUT Type = "hidden" value ="a" name = 'a'>
                     <INPUT Type = "hidden" value ="{{ question.id }}" name = 'id_question'>
                     {% csrf_token %}
                 </FORM>
                 </td>
                 <tr>          
            {% endfor %}
        </table>
    </body>
</html>

