<html>
    <head>
        <title>answer</title>
    </head>
    <body>
        <h1>answer</h1>  
        {{text_q}}
        <FORM method="POST" >
        {% for c in question.choice_set.all %}
        <INPUT TYPE="radio" NAME="choice" id="choice" VALUE="{{c.c}}">{{c.c}}
        <br>
        {% endfor %}
        <INPUT Type="submit" VALUE="enter" id="button" >
        <INPUT Type = "hidden" value ="send" name = 'send'>
        {% csrf_token %}
        </FROM>
        </body>
</html>
