<html>
    <head>
        <title>Q&C make</title>
    </head>
    <body>
        <h1></h1> 
      <FORM method="POST">
            คำตอบ
           <br>
           <input name="c_text" id="c_new"/>
           <br>
            <INPUT Type="submit" VALUE="enter" id="button_en" >
            <INPUT Type = "hidden" value ="send" name = 'send'>
            {% csrf_token %}
           <br>
       </FORM> 
        <FORM method="POST">
            <INPUT Type="submit" VALUE="จบ" id="button_f" >
            <INPUT Type = "hidden" value ="finish" name = 'finish'>
            {% csrf_token %}
       </FORM> 
    </body>
</html>
