<html>
    <head>
        <title>Q&C</title>
    </head>
    <body>
        <h1>from</h1> 
     <FORM method="POST">
            <INPUT Type="submit" VALUE="สร้างคำถาม" id="button_q" >
            <INPUT Type = "hidden" value ="q" name = 'q'>
            {% csrf_token %}
       </FORM> 
      <FORM method="POST">
            <INPUT Type="submit" VALUE="ตอบคำถาม" id="button_c" >
            <INPUT Type = "hidden" value ="c" name = 'c'>
            {% csrf_token %}
       </FORM> 
    </body>
</html>

