<html>
    <head>
        <title>Q&C make</title>
    </head>
    <body>
        <h1>Question</h1> 
      <FORM method="POST">
                 คำถาม
           <br>
           <input name="q_text" id="q_new"/>
           <br>
            <INPUT Type="submit" VALUE="enter" id="button_en" >
            <INPUT Type = "hidden" value ="send" name = 'send'>
            {% csrf_token %}
       </FORM> 
    </body>
</html>

